<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Glove Shop</title>
</head>
<body>
    <nav>
        <ul class="nav__bar">
            <li><a href="/index">Home</a></li>
            <li><a href="/gloves">Gloves</a></li>
            <li><a href="/gloves/new">Add Glove</a></li>
            <li><a href="/customer/new">Add Customer</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="content">
        {% block content %}
            
        {% endblock content %}
        </div>
    </div>
</body>
</html>