<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/gloves">Gloves</a></li>
            <li><a href="/gloves/new">Add Glove</a></li>
        </ul>
    </nav>

    <div class="content">
    {% block content %}
        
    {% endblock content %}
    </div>
</body>
</html>