{% extends "base.jinja" %} {% block content %}
    
    <ul>
    {% for glove in gloves %}
        <li>{{ glove.id }} 
        {{ glove.size }}
        {{ glove.colour }}
        {{ glove.price }}
        {% if glove.customer_id == None %}
            &#10004;
        {% endif %}
        <a href="gloves/{{ glove.id }}">View Glove</a>
        </li>
    {% endfor %}
    </ul>

{% endblock content %}