{% extends 'base.jinja' %} {% block content %}
    <div class="glove_show">
        <h2>The glove ID is {{ glove.id }}</h2>
        <h4>The size is {{ glove.size }}</h4>
        <h4>The color is {{ glove.colour }}</h4>
        <h4>The price of this glove {{ glove.price }}</h4>
        <h4>{{ customer.name }} has bought this</h4>
        <a class="link__decoration" href="/gloves/{{ glove.id }}/edit">Edit</a>
        <a class="link__decoration" href="/gloves/{{ glove.id }}/delete" method="POST">Delete</a>
        
    </div>

{% endblock  %}