{% extends 'base.jinja' %} {% block content %}
    
    <h2>The glove ID is {{ glove.id }}</h2>
    <h3>The size is {{ glove.size }}</h3>
    <h3>The color is {{ glove.colour }}</h3>
    <h3>The price of this glove {{ glove.price }}</h3>
    <a href="/gloves/{{ glove.id }}/edit">Edit</a>
    <a href="/gloves/{{ glove.id }}/delete" method="POST">Delete</a>
    <h3>{{ customer.name }} has bought this</h3>

{% endblock  %}